body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    margin-top: 50px;
    color: #333;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.container h2 {
    margin-bottom: 30px;
    text-align: center;
    color: #333;
}

.container input[type="text"],
.container input[type="password"],
.container select {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    color: #555;
}

.container select {
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none; 
    -moz-appearance: none; 
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23555" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M7 10l5 5 5-5H7z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 16px; 
}

.container button[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: #fff;
    padding: 15px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.container button[type="submit"]:hover {
    background-color: #45a049;
}

.container button[type="submit"]:focus {
    outline: none;
}

.container p {
    text-align: center;
    margin-bottom: 20px;
    color: #777;
}

.container a {
    text-decoration: none;
    color: #4CAF50;
    display: block;
    text-align: center;
}

.container a:hover {
    text-decoration: underline;
    color: #45a049;
}

.container input[type="file"] {
    display: none; 
}

.custom-file-upload {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    margin-bottom: 20px; 
    border-radius: 5px;
    cursor: pointer;
}

.custom-file-upload:hover {
    background-color: #0056b3;
}
